body {
    font-family: Arial, sans-serif;
    max-width: 900px;
    margin: 0 auto;
    padding: 0 10px;
    background-color: white;
}

.header-top {
    display: flex;
    align-items: center;
    margin: 20px 0;
}
.logo {
    width: 120px;
    height: auto;
}
.header-top h1 {
    font-size: 24px;
    margin-left: 20px;
}
.navigation {
    display: flex;
    justify-content: space-around;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
    background-color: slategray;
    
}
.navigation a :hover {
    background-color: #005b96;
}
.navigation a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.bigphoto img {
    width: 100%;
    height: auto;
    display: block;
    margin: 20px 0;
}
.intro-text h2 {
    font-size: 22px;
    margin-top: 20px;
}
.image-row {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}
.image-row img {
    width: 32%;
}
.text {
    margin: 20px 0;
}
.footer {
    text-align: center;
    border-top: 1px solid #ccc;
    padding: 20px;
    margin-top: 30px;
}
@media (max-width: 700px) {
    .header-top {
        flex-direction: column;
        text-align: center;
    }
    .navigation {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }
    .image-row {
        flex-direction: column;
    }
    .image-row img {
        width: 100%;
        margin-bottom: 15px;
    }
}
.fall-intro {
  display: flex;
  gap: 40px;
  align-items:flex-start;
}



.event {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.event img {
  width: 150px;
  height: auto;
}

.event h3 {
  margin: 0 0 5px;
}

.fall-align {text-align: justify;}
.spring-align {text-align:justify; text-align: right;}

.spring-intro {
  display: flex;
  gap: 40px;
  align-items:flex-start;
}

