p {color: black;}
body {
    background-color: #b3cde0;
    color: #03396c;
    font-family: 'Times New Roman', Times, serif;
}
a {
    color: #cc5500;
}
h1, h2 {color: #011f4b;}
.evenrow {background-color: #03396c;}
h1 {font-size: 2em;}
h2 {font-size: 1em;}
nav {background-color: #6497b1;}
nav a {color: #ffffff;}
nav a:hover {background-color: #005b96;}
